@import "tailwindcss";

:root {
  --highlight: #BFCA16;
  --headingColor: #18181b;
  --descriptionColor: #52525b;
  --cardBgColor: #f9f9fb;
  --cardBorderColor: #d4d4d8;
}

.hero-subtext {
  color: var(--highlight);
}

@theme {
  --color-headingColor: var(--headingColor);
  --color-descriptionColor: var(--descriptionColor);
  --color-cardBgColor: var(--cardBgColor);
  --color-cardBorderColor: var(--cardBorderColor);
}


/* --blackTextColor: text-neutral-400 */
/* --blackThemeShade : zinc-900 */

/* --fontsize : text-4xl md:text-5xl lg:text-6xl */
/* --descSize : text-xs md:text-sm font-medium */